<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/echarts.min.js"></script>
    <script src="~/Scripts/china.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
</head>
<body>
    <div id="main" style="width: 1200px;height:600px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var map = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    dataView: { readOnly: false },
                    restore: {},
                    saveAsImage: {}
                }
            },
            series: [
            {
                name: '中国地图',
                type: 'map',
                mapType: 'china',
                roam: true,
            }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        map.setOption(option);
        
    </script>
    @RenderBody()
</body>
</html>